{{.Env.FQDN}}
tls {{if (getenv "TLS_CONFIG")}}{{.Env.TLS_CONFIG}}{{else}}off{{end}}

gzip

prometheus 0.0.0.0:9180

{{if (getenv "PROXY_DEST")}}
proxy / {{.Env.PROXY_DEST}}
{{end}}


{{if (getenv "REDIR_DEST")}}
redir {{.Env.REDIR_DEST}}
{{end}}
